<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zhku.jsj.huangxin.component.application.dao.ApplicationDAO">
    <select id="getMenuList" parameterType="java.util.Map" resultType="cn.edu.zhku.jsj.huangxin.component.admin.model.TbMenuInfo">
        SELECT * FROM tb_menu_info
        <where>
            <foreach collection="searchMap.keys" item="key" separator="and">
                ${key}=#{searchMap.[${key}]}
            </foreach>
        </where>
    </select>
</mapper>
